<%= form_tag(mean_update_path, :id => "update_form") do %>
  <%= label_tag(:number, "Enter Number:") %>
  <%= text_field_tag(:number) %>
  <%= submit_tag("Calculate Mean") %>
<% end %>
<p>
Mean is: <span id="mean"><%= @mean %> </span>.
</p>
<p>
<%= form_tag(mean_reset_path, :id => "reset_form") do %>
  <%= submit_tag("Reset form") %>
<% end %>
</p>
